html[xmlns] .slides{display:block;}
* html .slides{height:1%;}

#slider_wrapper{position: relative;}
#slider{margin:0; position: relative;}

#flexslider{position:relative; min-height: 460px;}
#flexslider .slides>li{display:none;position:relative;}

.slides:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0;}
.slides{list-style:none outside none;margin:0;padding: 0;}
.slides img{width:100%; border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px;}

#flexslider .flex-control-nav{display:block; padding: 0; margin: 0; position: absolute; right: 22px; left: auto; top: 50%; margin-top: -20px; z-index:5; overflow:hidden;list-style:none; text-align: center; line-height: 1;}
#flexslider .flex-control-nav li{display: block; float:none; width:17px; height:17px; margin: 3px 0;}
#flexslider .flex-control-nav li:first-child{}
#flexslider .flex-control-nav li a{display:block;width: 100%; height: 100%; background: none; text-indent: -9999%; cursor:pointer; position: relative; overflow: hidden;background: url(../images/pagination.png) left top no-repeat;}
#flexslider .flex-control-nav li a:hover, #flexslider .flex-control-nav li a.flex-active{ background-position: bottom;}
#flexslider .flex-control-nav li .flex-active{cursor:default;pointer-events:none;}

#flexslider .flex-direction-nav{padding: 0; margin: 0; list-style: none;}
#flexslider .flex-direction-nav li{}
#flexslider .flex-direction-nav li a{display: block; width: 48px; height: 48px; position: absolute; left: 5%; bottom: 0;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
#flexslider .flex-direction-nav li a.flex-prev{background: url(../img/prev.png) center center no-repeat #fff; background-color: rgba(255, 255, 255, 0.4);}
#flexslider .flex-direction-nav li a.flex-prev:hover{background-color: #fff;}
#flexslider .flex-direction-nav li a.flex-next{margin-left: 49px; background: url(../img/next.png) left top no-repeat #fff; background-color: rgba(255, 255, 255, 0.4);}
#flexslider .flex-direction-nav li a.flex-next:hover{background-color: #fff;}

.flex-caption{position:absolute;width: 100%; right:0; left: 5%; bottom: 50px; text-align:left;}
.flex-caption > div{}
.flex-caption .txt1{font-family: 'Fjalla One'; font-weight: 400; font-size: 60px; line-height: 1.2; color: #fff; padding-bottom: 20px; text-transform: uppercase; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);}






@media (max-width: 1199px) {
  #flexslider{min-height: 380px;}

  .flex-caption .txt1{font-size: 50px;}





}

@media (max-width: 991px) {
  #flexslider{min-height: 290px;}

  .flex-caption .txt1{font-size: 40px;}






}

@media (max-width: 767px) {
  #flexslider{min-height: 124px;}

  .flex-caption{display: none;}

}

@media (max-width: 480px) {



}